dataset/*
.DS_Store
.env/*
sum.py
wandb/*
src/config/wandb.yaml

src/**/__pycache__/*
_._results.md
submission.csv
checkpoints/**
.ssh/*
TODO
submission*
scripts/server_config.sh
outputs/*

notebooks/open_subtitles_tokenizers.csv
notebooks/wmt19_tokenizers.csv
web/__pycache__/**
